baseURL = "https://nankin-22k.github.io/nankin-blog/"
languageCode = 'ja-jp'
title = "南瓜の家"
theme = "PaperMod"

[outputs]
    home = ["HTML", "RSS", "JSON"]

[markup.goldmark.renderer]
    unsafe = true

[params]
    defaultTheme = "auto"
    displayRGBColors = true
    showCodeCopyButtons = true
    assets.disableFingerprinting = true
    showPostNavLinks = true
    ShowRelatedContent = true
    mainSections = ["posts"]

    [params.homeInfoParams]
        Title = "南瓜の家へようこそ"
        Content = "家主の南瓜です。日々に出来事や活動、考えたことを綴る個人ブログです。自己管理や技術などが主なテーマになると思います。"

    [[params.socialIcons]]
        name = "github"
        url = "https://github.com/nankin-22k"

    [params.search]
        mainSections = ["posts"]
        searchFields = ["title", "content", "summary"]

    [taxonomies]
  category = "categories"
  tag = "tags"
  secret_category = "secret_categories"
  secret_tag = "secret_tags"

# --- メニュー設定 ---
[[menu.main]]
    name = "投稿一覧"
    url = "posts"
    weight = 10

[[menu.main]]
    name = "カテゴリー"
    url = "categories"
    weight = 20

[[menu.main]]
    name = "タグ"
    url = "tags"
    weight = 30

[[menu.main]]
    identifier = "archives"
    name = "アーカイブ"
    url = "/archives/"
    weight = 40

[[menu.main]]
    identifier = "search"
    name = "検索"
    url = "/search/"
    weight = 50

[related]
    threshold = 60
    includeNewer = true
    toLower = true

    [[related.indices]]
        name = "keywords"
        weight = 100
    [[related.indices]]
        name = "categories"
        weight = 80
    [[related.indices]]
        name = "tags"
        weight = 50
    [[related.indices]]
        name = "date"
        weight = 10

[permalinks]
  posts = "/posts/:slug/"