baseURL = "https://nankin-22k.github.io/nankin-blog/"
languageCode = 'ja-jp'
title = "南瓜の家"
theme = "PaperMod"

[markup.goldmark.renderer]
    unsafe = true

[params]
    defaultTheme = "auto"
    displayRGBColors = true
    showCodeCopyButtons = true
    assets.disableFingerprinting = true
    showPostNavLinks = true
    ShowRelatedContent = true
    mainSections = ["posts"]

    [params.homeInfoParams]
        Title = "南瓜の家へようこそ"
        Content = "家主の南瓜です。日々に出来事や活動、考えたことを綴る個人ブログです。自己管理や技術などが主なテーマになると思います。"

    [[params.socialIcons]]
        name = "github"
        url = "https://github.com/nankin-22k"

    [params.search]
        mainSections = ["posts"]
        searchFields = ["title", "content", "summary"]

    [taxonomies]
  category = "categories"
  tag = "tags"
  secret_category = "secret_categories"
  secret_tag = "secret_tags"

# --- メニュー設定 ---
[[menu.main]]
    name = "投稿一覧"
    url = "posts"
    weight = 10

[[menu.main]]
    name = "カテゴリー"
    url = "categories"
    weight = 20

[[menu.main]]
    name = "タグ"
    url = "tags"
    weight = 30

[[menu.main]]
    identifier = "archives"
    name = "アーカイブ"
    url = "/post/archives/"
    weight = 40

[[menu.main]]
    identifier = "search"
    name = "検索"
    url = "/search/"
    weight = 50

[[menu.secret]]
    name = "投稿一覧"
    url = "/restricted-area/" # 裏のトップ（_index.mdで設定したURL）
    weight = 10

[[menu.secret]]
    name = "カテゴリー"
    url = "/secret_categories/" # 裏専用カテゴリーの一覧
    weight = 20

[[menu.secret]]
    name = "タグ"
    url = "/secret_tags/" # 裏専用タグの一覧
    weight = 30

[[menu.secret]]
    name = "アーカイブ"
    url = "/restricted-area/secret_archives/"
    weight = 40

[[menu.secret]]
    name = "検索"
    # ※裏専用の検索ページを作る予定ならそのURL、
    # とりあえずタグ一覧で代用するならタグのURLでも可
    url = "/restricted-area/secret_search/" 
    weight = 50

[related]
    threshold = 60
    includeNewer = true
    toLower = true

    [[related.indices]]
        name = "keywords"
        weight = 100
    [[related.indices]]
        name = "categories"
        weight = 80
    [[related.indices]]
        name = "tags"
        weight = 50
    [[related.indices]]
        name = "date"
        weight = 10

[permalinks]
  posts = "/posts/:slug/"

  # 1. 出力形式の定義（既存の [outputs] を拡張）
[outputFormats]
  [outputFormats.SECRET_JSON]
    baseName = "index.secret"
    mediaType = "application/json"
    isPlainText = true
    notAlternative = true

# 2. 検索ページでの出力指定
[outputs]
  home = ["HTML", "RSS", "JSON", "SECRET_JSON"]
  page = ["HTML"]
  section = ["HTML"]